{"filter":false,"title":"Pipfile","tooltip":"/Pipfile","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":119,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/text"}},"timestamp":1541608370979,"hash":"7660b3a84b0f29988526f2fabaa699ae8e1e711a"}