{"filter":false,"title":"Pipfile","tooltip":"/Pipfile","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1541608370979,"hash":"0dc375807fba92122bbb68a567b6cf146a14fd8b"}