{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":17},"end":{"row":1,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"345ad3d947c12ef8957a17eb171608a14339838a","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1541186185151}